.gradle
.gradle-user-home/
bin/
build
.vscode/
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/
.runelite-dev-home/
.runelite-dev-session
*.err.log
*.out.log
scripts/icon_preview.png
